body{
    background-color: #212529;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bolder;
}

#team1{
    color: #f1cc28;
    background-color: black;
    text-shadow: 0 0 5px #f1cc28, 0 0 10px #f1cc28;
    font-family: 'VT323', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
}

#team2{
    color: #f1cc28;
    background-color: black;
    text-shadow: 0 0 5px #f1cc28, 0 0 10px #f1cc28;
    font-family: 'VT323', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
}

.scorebox{
    font-family: "VT323", sans-serif;
    background-color: black;
    font-size: 100px;
    color: #ff4058;
    text-shadow: 0 0 5px #d90429, 0 0 10px #d90429, 0 0 20px #d90429, 0 0 50px #d90429;
}

.addPointsButton{
    padding: 10px 15px 10px 10px;
    background-color: black;
    border: 0 solid #121212;
    color: #f1cc28;
    font-size: 45px;
    text-shadow: 0 0 5px #f1cc28, 0 0 10px #f1cc28;
    font-family: "VT323", sans-serif;
}